@import "../../styles/template.scss";

.containerBox{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: $green;
  height: 45px;
  width: 210px;
  display: grid;
  margin: auto;
  margin-top: 2.5vh;
  display: grid;
  place-content: center;
  border-radius: $full-radius;
  transition: all $time;
  cursor: pointer;
  @media screen and (max-width: $mobile) {
    width: 95%;
    margin-top: 0;
    border-radius: $half-botton-radius;
  }
}