@import "../../../styles/variables.scss";

.wrapper {
  position: fixed;
  top: auto;
  right: 0;
  left: 0;
  bottom: 5vh;
  z-index: 5;
  height: 55px;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  border-radius: 21px;
  display: none;
  @media screen and (max-width: $tablet) {
    display: grid;
  }
}
