@font-face {
  font-family: "Montserrat-Regular";
  src: url("../public/Fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../public/Fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../public/Fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../public/Fonts/Montserrat-Light.ttf");
}
