@import "variables.scss";
@import "fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $black-text;
  font-family: "Montserrat-Regular";
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
