$black: #000000;
$dark: #2a2a2a;
$white: #ffffff;
$gray: #adadad;
$red-text: rgba(165, 8, 24, 0.9);
$green-text: rgba(7, 95, 52, 0.9);
$black-text: rgba(0, 0, 0, 0.8);
$white-text: #ffffff;
$yellow: #f6f881;

/* sizes */
$for-k: 2500px;
$full-hd: 1920px;
$laptop-max: 1600px;
$mac-book: 1440px;
$laptop: 1366px;
$tablet: 1050px;
$mobile: 600px;
$mobile-sm: 350px;

/* transition time */
$time: 0.5s;

// radius
$full-radius: 100px;
$half-botton-radius: 0 0 100px 100px;
