$dark: #2b2b2b;
$white: #fff;
$blue: #002585;
$light-gray: #e5e5e5;
$gray: #898989;
$red: #e90000;
$green: #1ac03f;
$light-green: rgba(26, 192, 63, 0.51);

/* sizes */
$for-k: 2500px;
$full-hd: 1920px;
$laptop-max: 1600px;
$mac-book: 1440px;
$laptop: 1366px;
$tablet: 1050px;
$mobile: 600px;

/* transition time */
$time: 0.5s;

// radius
$full-radius: 100px;
$half-botton-radius: 0 0 100px 100px;